.shadow-up {
  box-shadow: 0 -4px 6px -6px #000; /* Adjust values for your desired shadow effect */
}

.shadow-up-logo {
  box-shadow: 0 -2px 4px -3px #000; /* Adjust values for your desired logo shadow effect */
}

.animate-borders-onload .border-t-8 {
  height: 100%;
  width: 100%;
}

.animate-borders-onload .border-r-8 {
  height: 100%;
}

.animate-borders-onload .border-b-8 {
  height: 100%;
  width: 100%;
}

.animate-borders-onload .border-l-8 {
  height: 100%;
}
